// Colors
$white: rgba(255, 255, 255, 1);
$red: rgba(255, 0, 0, 1);
$black: rgba(1, 1, 1, 1);
$light_black: rgba(1, 1, 1, 0.5);
$gray: rgba(212, 212, 212, 1);
$deep_gray: rgba(100, 100, 100, 0.7);
$slate_gray:  rgba(112, 128, 144,1);
$purple: rgba(106, 13, 173,1);

// Fonts
$roboto: "Roboto";

// Weight
$semi: 600;
$medium: 500;

// Transitions
$normal: 0.7s;
