.products {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light_black;
  z-index: 25;
  overflow: hidden;
}

.products__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: $white;
  overflow: scroll;
}

.products__close-img {
  max-width: 100%;
  max-height: 100%;
}

.products__join-text {
  text-align: center;
  padding: 20px 0;
}

.products__join-title {
  font-size: 30px;
  font-weight: $semi;
  margin-bottom: 13px;

  @include phone {
    font-size: 24px;
    margin-bottom: 9px;
  }
}

.products__join-lines {
  font-size: 17px;
  max-width: 566px;
  margin: 0 auto;
  line-height: 23px;

  @include phone {
    font-size: 14px;
    line-height: 19px;
    max-width: 314px;
  }
}

.products__tape {
  width: 100%;
  background-color: $red;
  text-align: center;
  margin-bottom: 30px;
}

.products__tape-text {
  color: $white;
  font-weight: $medium;
  padding: 13px 0;
}

.products__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include phone {
    flex-direction: column;
  }
}

.products__list-item {
  margin: 0 15px 60px 15px;
  max-width: calc(14.28% - 30px);
  flex: 1 1 calc(14.28% - 30px);
  text-align: center;

  @include phone {
    max-width: 100%;
    flex: 1 1 100%;
    margin: 0 15px 20px 15px;
  }
}

.products__product-image,
.products__undo-img,
.products__delete-img {
  max-width: 100%;
  max-height: 100%;
}

.products__product-title,
.products__product-price {
  display: block;
}

.products__product-title {
  color: $black;
  margin: 10px 0 15px 0;
  font-weight: $semi;
}

.products__product-price {
  background-color: $red;
  color: $white;
  padding: 5px 5px;
  max-width: 85px;
  margin: 0 auto;
  transform: rotate(-6deg);
}

.products__order {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light_black;
  z-index: 30;
}

.products__order-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 519px;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 30;
  text-align: center;
  border-radius: 20px;
  padding: 25px 10px;

  @include phone {
    width: 300px;
    min-height: 380px;
  }
}

.products__order-image,
.products__order-title,
.products__order-price {
  display: block;
}

.products__order-image {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto 10px auto;

  @include phone {
    max-width: 170px;
    max-height: 170px;
  }
}

.products__order-title {
  font-size: 27px;
  font-weight: $semi;
  margin-bottom: 11px;

  @include phone {
    font-size: 20px;
  }
}

.products__order-price {
  font-weight: $medium;
  font-size: 18px;
  margin-bottom: 15px;

  @include phone {
    font-size: 16px;
  }
}

.products__order-quantity {
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 20px;
  width: 220px;
  min-height: 37px;
  padding: 0 10px;
}
